<?xml version="1.0" encoding="UTF-8"?>


<config>

    <modules>
        <App_User>
            <version>0.1.0</version>
        </App_User>
    </modules>

    <frontend>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>App_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
    </frontend>
    
    <global>
        <models>
            <user>
                <class>App_User_Model</class>
                <resourceModel>user_mysql4</resourceModel>
            </user>
            
            <user_mysql4>
                <class>App_User_Model_Mysql4</class>
                <entities>
                    <reg>
                        <table>reg_info</table>
                    </reg>
                </entities>
            </user_mysql4>
        </models>
    </global>
</config>