<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <pig_buy>
            <version>0.1.0</version>
        </pig_buy>
    </modules>
    
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <pig_buy_model_hello>
                        <type>singleton</type>
                        <class>Pig_Buy_Model_Hello</class>
                        <method>checkForConfigRequest</method>
                    </pig_buy_model_hello>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    
    <frontend>
        <routers>
            <helloword>
                <use>standard</use>
                <args>
                    <module>pig_buy</module>
                    <frontName>helloword</frontName>
                </args>
            </helloword>
        </routers>
    </frontend>
</config>